body {
    margin-top: 10px;
}
.row {
    margin:10px 0;
}
.photo-box{
    box-shadow: 0 0 10px 0 rgba(37, 62, 139, 0.2);
    padding: 10px;
    margin: 10px;
}
.photo-box__info ul {
    padding: 3px 0;
    list-style-type: none;
}
.img {
    min-width: 275px;
    min-height: 183px;
}

