{% extends 'catalog/photo_base.html' %}
{% block content %}

<div class="container">
    <form class="input-group" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-default" type="submit" value="ОК" />
    </form>

</div>
{% endblock %}

