{% extends 'catalog/photo_base.html' %}
{% load thumbnail %}

    {% block content %}
      <div class="container">
          <div class="row">
              <form class="input-group" action="{% url 'catalog:photo_list' %}" method="get" accept-charset="utf-8">
                    <input type="text" placeholder="Поиск" class="input form-control" name="q">
                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Поиск</button>
                    </span>
                </form>
          </div>
          <div class="row">
               <a class="btn btn-danger pull-right" href="{% url 'catalog:photo_new' %}">Добавить фотографию</a>
          </div>
          <div class="row">
          {% for photo in photos %}
            <div class="pull-left photo-box">
                <div class="col-md-12">
                    <div class="row">
                        <div class="">
                            <div class="img">
                                <img  src="{% thumbnail photo.image 275x183 crop %}" alt="{{ photo.description }}">
                            </div>
                            <div class="photo-box__info">
                                <ul>
                                    <li><p>Название: {{ photo.title }}</p></li>
                                    <li><p>Описание: {{ photo.description }}</p></li>
                                    <li><p>Дата съёмки: {{ photo.data_of_filming}}</p></li>
                                    <li><a class="btn btn-primary" href="{% url 'catalog:photo_edit' photo.id %}">edit</a></li>
                                    <li><a class="btn btn-primary" href="{% url 'catalog:photo_delete' photo.id %}">delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}

          </div>
      </div>


    {% endblock %}


