

{% extends 'catalog/photo_base.html' %}
{% block content %}

<div class="container">
   <form method="post">{% csrf_token %}
        Вы точно хотети удалить "{{ object }}" ?
        <input type="submit" value="Хочу" />
   </form>


</div>
{% endblock %}

